body {
    background-color: #162130;
}

#chart {
    border-radius: 5px;
    background-color: #162130;
}

svg {
    background-color: #7b8ca4;
    border-radius: 5px;

}

h1 {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;

}

.notes {
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 200
}

    #container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

.line {
    fill: none;
    stroke-width: 3px;
    opacity: .5;
    stroke: black;
  }

  /* .line:nth-of-type(5) {
    stroke: red;
  }

  .line:nth-of-type(6) {
    stroke: yellow;
  }

  .line:nth-of-type(7) {
    stroke: rgb(0, 166, 255);
  }

  .line:nth-of-type(8) {
    stroke: rgb(212, 0, 255);
  }

  .line:nth-of-type(9) {
    stroke: black;
  }

  .line:nth-of-type(10) {
    stroke: green;
  } */

  svg {
      margin-left: 30px;
      overflow: visible;
  }

  .legend {
      background-color: #ffffff;
      border-radius: 5px;
      width: 10em;
      float: right;
      padding: 20px;
      margin-right: 2em;
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600

  }

  .Leipzig {
    stroke: orange;
    background-color: rgba(255, 166, 0, 0.523);
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 5px
  }  

  .Berlin {
      stroke: blue;
      background-color: rgba(0, 0, 255, 0.495);
      border-radius: 3px;
      color: white;
      text-align: center;
      padding: 5px
  }

  .Kln {
    stroke: red;
    background-color: rgba(255, 0, 0, 0.495);
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 5px
  }

  .Mnchen {
    stroke: hotpink;
      background-color: rgba(255, 105, 180, 0.495);
      border-radius: 3px;
      color: white;
      text-align: center;
      padding: 5px

  }

  .Frankfurt {
    stroke: gold;
    background-color: rgba(255, 217, 0, 0.495);
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 5px
  }

  .Wien {
    stroke: gray;
      background-color: rgba(128, 128, 128, 0.495);
      border-radius: 3px;
      color: white;
      text-align: center;
      padding: 5px

  }

  .Hamburg {
    stroke: brown;
    background-color: rgba(165, 42, 42, 0.502);
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 5px
  }

  .Zrich {
      stroke: limegreen;
  }